@model SacramentPlanner.Models.Sacrament

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sacrament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conducting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conducting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenHymn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenPrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenPrayer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SacramentHymn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speaker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speaker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseHymn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosePrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosePrayer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
